html {
    box-sizing: border-box;
    background-image: url('../images/backgroond2.png');
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    
}

h1{
    font-size: 5em;
margin-top: 2em;
}
h2{
    font-size: 3em;
}
a{
    text-decoration: none;
    color: black;
}